APP_HOST=${TARGET_HOST}
APP_HTTP_PORT=${TARGET_HTTP_PORT}

POSTGRES_READ_HOST=${POSTGRES_READ_HOST}
POSTGRES_READ_PORT=${POSTGRES_READ_PORT}
POSTGRES_READ_DATABASE=${POSTGRES_READ_DATABASE}
POSTGRES_READ_USERNAME=${POSTGRES_READ_USERNAME}
POSTGRES_READ_PASSWORD=${POSTGRES_READ_PASSWORD}

POSTGRES_WRITE_HOST=${POSTGRES_WRITE_HOST}
POSTGRES_WRITE_PORT=${POSTGRES_WRITE_PORT}
POSTGRES_WRITE_DATABASE=${POSTGRES_WRITE_DATABASE}
POSTGRES_WRITE_USERNAME=${POSTGRES_WRITE_USERNAME}
POSTGRES_WRITE_PASSWORD=${POSTGRES_WRITE_PASSWORD}
